<h1 class="c-heading__top c-text">キラキラネーム検定試験</h1>
<p class="c-text">あなたの受験する級数を選んでください。</p>
<aside class="c-other-service">
  <ul class="c-other-service__list">
    <li class="c-other-service__item">
      <div class="c-other-service__link">
        <dl>
          <dt><%= link_to "１級検定試験", test_one_path, class: "linkdeco font-l" %></dt>
          <dd>強者のみ挑戦が許される最強難易度。<br>推理に推理を重ねる必要がある。</dd>
        </dl>
      </div>
    </li>
    <li class="c-other-service__item">
      <div class="c-other-service__link">
        <dl>
          <dt><%= link_to "準１級検定試験", test_preone_path, class: "linkdeco font-l" %></dt>
          <dd>かなり手慣れてきた頃に挑戦されたい。</dd>
        </dl>
      </div>
    </li>
    <li class="c-other-service__item">
      <div class="c-other-service__link">
        <dl>
          <dt><%= link_to "2級検定試験", test_two_path, class: "linkdeco font-l" %></dt>
          <dd>推理が要求されてくる様になる。<br>探偵になった気分でどうぞ。</dd>
        </dl>
      </div>
    </li>
    <li class="c-other-service__item">
      <div class="c-other-service__link">
        <dl>
          <dt><%= link_to "3級検定試験", test_three_path, class: "linkdeco font-l" %></dt>
          <dd>初めの一歩。頑張れば根性で読めるはず！</dd>
        </dl>
      </div>
    </li>
  </ul>
</aside>

<div class="gray-line">
  <h3 class="c-heading">ホームページ作成者からの一言</h2>
  <p class="c-about-text">キラキラネームは奥深い。<br>推理を何度も重ねて、ようやく正しい読み方に辿り着ける。<br>
そんな楽しさをもっと多くの人に知ってもらいたいという一心で作成しました。<br>
まずは低い級数から腕試しをして頂き、段々と高みを目指して行って頂ければと思います。<br>
需要があればどんどん増やしていくので、定期的に覗きに来てくださいね！</p><br>
</div>
<div id="FooterCorpName">
  <p id="copyright">Copyright &copy; キラキラネーム検定試験</p>
</div>