.c-heading {
  position: relative;
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.5;
  font-size: 32px;
  font-weight: 600;
}

.gray-line {
  margin-top: 42px;
  padding: 20px 12px;
  border-top: solid 3px #efefef;
}

.c-title {
  font-weight: 600;
  font-size: 28px;
}